:root {
  --primary-color: #08a185;
  --secondary-color: #024a3d;
  --tertiary-color: #b4f7ea;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 280px; 
}

.content {
  flex-grow: 1;
  padding: 0px 30px;
}

.sidebar {
  width: 280px;
  padding-top: 45px;
  background-color: #d7f8eded;
  position: fixed;  
  top: 0;
  left: 0;
  height: 100vh;   
  overflow-y: auto; 
}

.anvaya {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  color: var(--primary-color);
}

.header {
  border-bottom: 2px solid var(--secondary-color);
}

.footer {
  background-color: var(--primary-color);
}

.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 20px;
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: underline 3px;
  font-size: 48px;
}

.sidebar-items {
  border-right: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  background-color: var(--tertiary-color);
  margin: 10px;
  text-align: center;
  transition: 0.5s;
}

.sidebar-items:hover {
  background-color: var(--secondary-color);
}

.nav-link.sidebar-links {
  color: var(--secondary-color);
  font-weight: bold;
}

.dashboard-pill {
  display: none;
}


.nav-link.link-active,
.nav-link.sidebar-links:active,
.nav-link.sidebar-links:focus,
.nav-link.sidebar-links:hover {
  background-color: var(--secondary-color);
  border: none;
  color: white;
}

.leads {
  border: 2px solid var(--tertiary-color);
  border-radius: 5px;
}

.lead-status {
  display: flex;
  list-style: none;
}

.status-item {
  flex-grow: 1;
  margin: 10px 0px;

}

.status-pill{
  color: #024a3d;
  text-decoration: none;
  transition: 0.5s;
  border: 2px solid var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px;
}

.status-pill:hover{
  color:var(--secondary-color);
  font-size: 18px;
  background-color: var(--tertiary-color);
}
.appBtn {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.appBtn:hover {
  background-color: var(--primary-color);
  color: black;
}

.list-group-item:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.tag-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 10px;
}

.tag-item {
  cursor: pointer;
}

.tag-item input {
  display: none;
}

.tag-item {
  display: block;
  padding: 6px 10px;
  border-radius: 20px;
  border: 1px solid lightgrey;
  text-align: center;
  background-color: var(--tertiary-color);
  transition: 0.2s;
}

.tag-item:hover {
  border-color: var(--secondary-color);
}

.tag-item:has(input:checked) {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

.report-title {
  font-family:monospace;
}
.chart-holder {
  height: 350px;
  background-color: rgba(172, 232, 229, 0.293);
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

 .data-pill {
  background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
  color: white;
  padding: 20px 20px;
  border-radius: 30px;
  font-weight: 500;
}

.bar-chart-holder{
  padding: 40px 0px;
}